<style type="text/css">

        #rodape /*rodapé do sistema */

        {

            background-color: #cecece;

            text-align: center;

            border: solid 1px Gray;

            font-size:8pt;

            font-family: Verdana;

            font-weight:bold;

            width:100%;

            color:Black;

            position:fixed;

            bottom:0px;

            left:0px;

        }

    </style>